I'm looking to build an app to save the wines I have: It should be built in the following way:

1. The collapsible sidebar should not create any conflicts with the header. The header should move to the side when the sidebar is opened.
13. The fields in the entry form and the wine detail page should have a type enforcement built-in.
14. The technical "expired" field shuould be called "Do I have this wine in my cellar?" and should be a yes/no field. The transformation should happen afterwards.
15. The non header part of the page should not be hidden by the collapsible sidebar when it is opened
16. DIFFERENT BRANCH Add a search options to look for wines by their name
17. DIFFERENT BRANCH: Add a filtering option to filter the wines shown
18. DIFFERENT BRANCH: Add a sorting option to sort the wines shown
19. NOT IN MVP: Better setup of template scripts. E.g. the my_cellar.html and experienced_wines.html should not have the same script repeated in both files. This can probably be built in a better way.
20. The editable text field for notes should not be a single line, but a multi-line text area, when editing.
21. The Name of the wine and the producer on top of the wine detail page should update automatically if they are changed in the editable fields.
23. NOT IN MVP: Add more javascript elements for clean up
24. NOT IN MVP: refactor the css to make it cleaner and more modular
25. NOT IN MVP: Refactor projects by moving svg and css file to their relevant folders.
